@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");

html,
body {
  margin: 0;
  background-color: #141c3a;
}

* {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.card {
  padding: 20px 0;
  text-align: center;
  border-radius: 6px;
  border: solid 1px #ffffff;
  background-color: #141c3a;
  color: #ffffff;
  cursor: pointer;
  height: 75px;
  font-size: 16px;
}

.card:hover,
.card:focus {
  background-color: #2e4085;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 138px);
  grid-auto-rows: 1fr;
  gap: 16px 16px;
  margin: 0 auto;
  width: fit-content;
  padding: 24px 0 33px 0;
}

.card.selected {
  background-color: initial;
  color: #141c3a;
  border: solid 1px #141c3a;
}

.card.matched {
  color: #5c8f5c;
}

.card.no-match {
  color: #fd4d3f;
}

.logo-placeholder {
  width: 120px;
}

.score-container {
  background-color: #f2f2f2;
  padding: 10px 158px 10px 159px;
  margin: 0 auto;
  text-align: center;
}
.score-container h2 {
  font-size: 32px;
}
.score-container span:last-child {
  color: #5c8f5c;
}

.footer > button {
  width: 50%;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 19px 40px 19px 40px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.start-button {
  background-color: #141c3a;
  border-radius: 6px;
  border: solid 1px #ffffff;
}

.start-button:hover,
.start-button:focus {
  background-color: #ffffff;
  color: #141c3a;
}

@media only screen and (max-width: 768px) {
  .score-container h2 {
    font-size: 20px;
  }
  .score-container p {
    font-size: 20px;
  }
}
